/* Global Section */
body{
    font-family: 'Volkhov';
}
/* Navbar Section*/
.login{  
    color:#FD8D3A;
    font-family: 'poppins'
}
.singup{
    padding: 5px ,25px;
    color: white;
    background-color:#FD8D3A;
    border: none;
}
.navbar-nav,.singup{
    font-family: 'poppins';
}

/*Hero Section*/
.hero {
    background-color: #FEFCFB;
}
.highlight{
    color: #FD8D3A;
}
.heroparagraph{
    font-family: 'poppins';
    font-size: 16px;
}
.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
.heroimage{
    margin-left: 50px;
}
.hero-button{
    font-weight: 500;
    font-family: 'poppins';
    border: 1px solid #FD8D3A;
}
.hero-button:hover {
    background-color: #FD8D3A; 
    color: white;
}
.search-bar {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  .search-bar .dropdown-toggle {
    color: #333;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
  }

  .search-bar .dropdown-menu {
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .search-bar .btn {
    background-color: #FF7D44;
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
    padding: 10px 20px;
    border: none;
  }

  .search-bar .btn:hover {
    background-color: #ff6b33;
  }